// colors
$main-text: #7f8c97; // main text
$light-text: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color
$dark-heading-color: #606676;
$default-text-color: #86939e;
$brand-border2: #e1e8ee;

$white: #fff;
$color-1: #4ea9e0; // blue dark
$color-2: #5e6977; // red
$color-5: #f5f8fa; // border offwhtie
$color-6: #43484d;
$color-7: #eeeeee; //border colors
$color-9: #F6F8FA;
$color-10: #fff; // primary color hyerlinks
$color-11: #26374A;
$hero_bg: #f5f8fa;
// fonts 
$primary-font: "Roboto", sans-serif,
serif;
$secondary-font: 'Open Sans',
sans-serif;
$font-weight-100: 100;



$brand-border: #e1e8ee; // previews borders
$brand-bg: #F5F8FA; // previews borders

$blue:    #03a9f4;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #ED5564;
$orange:  #fd7e14;
$yellow:  #FCCE54;
$green:   #7dc855;
$teal:    #20c997;
$cyan:    #78BCEE;
$dark: #272C33;

$brand-primary: $blue !default; // #337ab7
$brand-success: $green !default;
$brand-info: $cyan !default;
$brand-warning: $yellow !default;
$brand-danger: $red !default;
$brand-border3: rgba(120, 130, 140, 0.13);

$table-hover-bg: $brand-bg;